.manual-entry-container {
    padding: 1rem;
}

.manual-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

.manual-form .btn {
    width: fit-content;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
}

.form-row .form-group {
    flex: 1;
    min-width: 0;
}

.form-group label {
    margin-bottom: 0.5rem;
    text-align: left;
}


.manual-form input, .manual-form textarea {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg);
    color: var(--text-color);
    font-size: 1rem;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    min-width: 0;
}

.manual-form textarea {
    height: 100px;
    resize: vertical;
}

@media (max-width: 768px) {
    .manual-form input, .manual-form textarea {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .form-row {
        gap: 1.5rem;
        align-items: flex-start;
    }

    .form-row .form-group {
        flex: 1;
        min-width: 0;
    }

    .form-row .form-group label {
        text-align: left;
    }

    .form-row .form-group input {
        width: 100%;
    }
}

